
<html>
    <head>
      {% if title %}
      <title>{{ title }} - readmedis</title>
      {% else %}
      <title>readmidis</title>
      {% endif %}
      <link href={{ url_for('static', filename="record/styles/app.css") }} rel="stylesheet" type="text/css">
      {{ JSGlue.include() }}
    </head>
    
    <body>
        <div>
            Readme this:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
